body{
    background-color: rgb(210, 232, 247);
}
header{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.skills{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}