body{
    background-color: rgb(65, 64, 64);
}
header{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: aliceblue;
}
.img-fluid {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%; 
    height: 90%
}
.skills, .projects{
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    color: aliceblue;
}
.skillsP{
    margin-left: 50px;

}

.weatherPic{
    height: 280px;
}
.videoWorld{
    height: 280px;
    width: 500px;
}
.fitnessTracker{
    height: 280px;
    width: 500px;
}
.cookBook{
    height: 280px;
    
}
.geoQuiz{
    height: 280px;
    width: 500px;
}
.burgerLogger{
    height: 280px;
    
}