body{
    background-color: rgb(21, 20, 37);
}
.indexHeader{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(203, 210, 216);
}
.contactHeader{
    font-family: 'Roboto', sans-serif;
    color:  rgb(203, 210, 216);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.headerProject{
    margin-bottom: 30px;
}
.img-fluid {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%; 
    height: 90%
}
.skills, .projects{
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    color: rgb(203, 210, 216);
}
.skillsP{
    margin-left: 50px;

}
.weatherPic{
    height: 280px;
}
.videoWorld{
    height: 280px;
    width: 500px;
}
.fitnessTracker{
    height: 280px;
    width: 500px;
}
.cookBook{
    height: 280px;
    
}
.geoQuiz{
    height: 280px;
    width: 500px;
}
.burgerLogger{
    height: 280px;
    
}
.profileText{
    color:  rgb(203, 210, 216);
}
.textContact{
    color: rgb(203, 210, 216);
}